.card {
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 300px;
    box-shadow: #091e4240 0px 1px 0px 0px;
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
        max-width: 85%;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &:hover {
        background-color: #f9f7f7;

        .icons {
            visibility: visible;
        }
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        visibility: hidden;
    }
}
