html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
#root {
    height: 100%;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: darkblue;
    background-color: #ffffff;
}

div,
input,
button,
img {
    border-radius: 3px;
}

img {
    width: 20px;
    height: 20px;
    padding: 2px;

    &:hover {
        background-color: white;
        opacity: 1;
    }
}
