.tasks {
    background-color: #ebecf0;
    min-width: 300px;
    min-height: 40px;
    margin-right: 20px;
    border-radius: 3px;
    padding: 5px;

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        h3 {
            padding: 10px;
            margin: 0;
            // width: 60%;
        }

        &:hover {
            background-color: #f9f7f7;

            .icons {
                visibility: visible;
            }
        }

        .icons {
            padding: 10px 0;
            display: flex;
            visibility: hidden;
            cursor: pointer;
        }
    }
}
